@media screen and (max-width: 850px) {
    body {
        background: url(../image/bg-mobile.jpg) bottom/cover no-repeat;
    }
}

@media screen and (max-width: 768px) {
    .centro__talisman-selecionado>.talisman-selecionado__descricao {
        width: 80vw;
        position: fixed;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
}