@media screen and (max-width: 850px) {
    body {
        background: url(../image/bg-mobile.jpg) bottom/cover no-repeat;
    }
}

@media screen and (max-width: 768px) {
    .centro__talisman-selecionado>.talisman-selecionado__descricao {
        width: 80vw;
        position: fixed;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-height: 640px) {
    .centro__talisman-selecionado>.talisman-selecionado__nome {
        font-size: clamp(1.4rem, calc(2dvh + 1px), 2.3rem);
    }
    .centro__talisman-selecionado>.talisman-selecionado__descricao {
        font-size: clamp(1.4rem, calc(2dvh + 1px), 2.3rem);
    }
    .centro__talisman-selecionado>.talisman-selecionado__img {
        width: 19dvh;
    }
    .container-talisman>.talisman {
        width: 17dvh;
    }
}
